doctype html
html
    head
        title Nuevo Pedido
        link(rel="stylesheet", href="/css/styles.css")
    body
        h1 Editar pedido

        form(action=`/pedidos/${pedido.id}?_method=PUT`, method="POST")
            label(for="fecha") Fecha:
            input(type="date" name="fecha" value=pedido.fecha)

            label(for="total") Total:
            input(type="number" step="0.01" name="total" value=pedido.total)

            label(for="tipo") Tipo:
            select(name="tipo")
                option(value="Presencial" selected=(pedido.tipo === 'Presencial')) Presencial
                option(value="Online" selected=(pedido.tipo === 'Online')) Online

            label(for="id_cliente") ID Cliente:
            input(type="number" name="id_cliente" value=pedido.id_cliente)

            br

            label(for="productos") Productos:
                each p in productos
                    div
                        input(type="checkbox" name="productos" value=p.id checked=pedido.productos.includes(p.id))
                        | #{p.nombre}

            
            button(type="submit") Guardar cambios

        a(href="/pedidos")
            button() Volver a la lista de pedidos

