doctype html
html
    head
        title Pedidos
    body
        h1 Pedidos
        ul
            each pedido in pedidos
                li 
                    p 
                        strong Fecha: 
                        | #{pedido.fecha}

                    p #{pedido.tipo}

                    p 
                        strong Productos: 
                        | #{pedido.productos.join(", ")}
                    
                    p 
                        strong Total: 
                        | $#{pedido.total}

                    form(action=`/pedidos/${pedido.id}` method="POST")
                    input(type="hidden" name="_method" value="PUT")
                    button(type="submit") Modificar pedido

                br
