doctype html
html
    head
        link(rel="stylesheet", href="/css/styles.css")
        title Pedidos
    body
        h1 Pedidos
        form(method="GET", action="/pedidos/nuevo")
            button.btn(type="submit") Nuevo pedido

        ul
        .ul-pedidos
            each pedido in pedidos
                li 
                    p 
                        strong Fecha: 
                        | #{pedido.fecha}

                    p #{pedido.tipo}

                    p 
                        strong Productos: 
                        | #{pedido.productos.join(", ")}
                    
                    p 
                        strong Total: 
                        | $#{pedido.total}


                    a(href=`/pedidos/editar/${pedido.id}`)
                        button Editar pedido


                    form(action=`/pedidos/${pedido.id}?_method=DELETE`, method="POST", style="display:inline")
                        button(type="submit") Eliminar pedido

                br
