doctype html
html
  head
    link(rel="stylesheet", href="/css/styles.css")
    title Ticket Pedido
  body.body
    header.header
        h2 
        div
            if usuario === 'admin'
            div.div-menu
                a(href="/inicio").a-inicio Inicio
                a(href="/productos").a-inicio Productos
                a(href="/pedidos").a-inicio Pedidos
                a(href="/clientes").a-inicio Clientes
                a(href="/caja").a-inicio Pagos
                a(href="/informe").a-inicio Informes
            span Bienvenido #{usuario}
            form(method="POST", action="/logout")
            button(type="submit") Cerrar sesión

    div.div-ticket-container 

        strong.strong-cliente #{pedido.id_cliente ? pedido.id_cliente.nombre + ' ' + pedido.id_cliente.apellido : 'Sin cliente'}

        div.div-tipo-fecha
            p #{pedido.tipo}
            p #{pedido.fecha.toISOString().substring(0,10)}

        hr

        ul.ul-ticket
        each p in pedido.productos
            li.li-ticket
                span #{p.cantidad}
                span #{p.producto.nombre}
                span $#{p.producto.precio}

        hr

        p.ticket-total
            strong TOTAL:
            strong $#{pedido.total}
        
        p.p-visita *** Gracias por su visita ***
        
    button.btn.btn-ticket(type="button", onclick="window.print()") Imprimir

    a(href="/pedidos")
        button.btn.btn-last.btn-last-ticket Volver a la lista de pedidos 