doctype html
html
  head
    title Detalle del cliente
    link(rel="stylesheet", href="/css/styles.css")
  body
    header.header
      h2 Clientes
      div
        div.div-menu
          a(href="/inicio").a-inicio Inicio
          a(href="/productos").a-inicio Productos
          a(href="/pedidos").a-inicio Pedidos
          a(href="/clientes").a-inicio Clientes
          a(href="/caja").a-inicio Pagos
          a(href="/informe").a-inicio Informes

        span Bienvenido #{usuario}
        form(method="POST", action="/logout")
          button(type="submit") Cerrar sesión

    .container
      h1 Datos del cliente
      .card
        p
          strong Nombre completo:
          |  #{cliente.nombre} #{cliente.apellido}
        p
          strong DNI:
          |  #{cliente.dni}
        p
          strong Fecha de nacimiento:
          | #{cliente.fecha_nacimiento}

        p
          strong Domicilio:
          | #{cliente.domicilio}
        
      a(href="/clientes")
        button.btn Volver a la lista
