doctype html
html
  head
    link(rel="stylesheet", href="/css/styles.css")
    title Pedidos del cliente

  body
    header.header
      h2 Pedidos del Cliente
      div
        if usuario === 'admin'
          .div-menu
            a.a-inicio(href="/inicio") Inicio
            a.a-inicio(href="/productos") Productos
            a.a-inicio(href="/pedidos") Pedidos
            a.a-inicio(href="/clientes") Clientes
            a.a-inicio(href="/caja") Pagos
            a.a-inicio(href="/informe") Informes
        

      form(method="POST", action="/logout")
        button(type="submit") Cerrar sesión

    a(href="/clientes")
      button.btn Volver a la lista de clientes


.ul-pedidos
  if pedidos.length === 0
    p.error-message El cliente no tiene pedidos realizados

  else
    each pedido in pedidos
      li.li-pedidos
        p
          strong Fecha:
          | #{new Date(pedido.fecha).toLocaleDateString('es-AR')}

        p
          strong Tipo:
          | #{pedido.tipo}

        p
          strong Cliente:
          | #{cliente.nombre} #{cliente.apellido}

        p
          strong Productos:
          ul.ul-productos
            each p in pedido.productos
              if p.producto
                li #{p.cantidad} #{p.producto.nombre} ($#{p.producto.precio})
              else
                li Producto no encontrado
        p
          strong Total:
          | $#{pedido.total}