doctype html
html
  head
    link(rel="stylesheet", href="/css/styles.css")
    title= titulo
  body
    header.header
      h2 Productos
      div
        div.div-menu
          a(href="/inicio").a-inicio Inicio
          a(href="/productos").a-inicio Productos
          a(href="/pedidos").a-inicio Pedidos
          a(href="/clientes").a-inicio Clientes
          a(href="/caja").a-inicio Pagos
          a(href="/informe").a-inicio Informes

        span Bienvenido #{usuario}
        form(method="POST", action="/logout")
          button(type="submit") Cerrar sesión

    h1= titulo
    div.div-btn-pedidos-nuevo-finalizado
      form(method="GET", action="/productos/nuevo")
        button.btn-pedidos.btn-nuevo-pedido(type="submit") Nuevo producto
    ul
      each p in productos
        li
          |#{p.nombre} ($#{p.precio}) 
          a(href=`/productos/${p.id}`)
            button Ver Detalle
          form(action=`/productos/${p.id}?_method=DELETE`, method="POST", style="display:inline")
            button(type="submit") Eliminar Producto
